body{

    background: rgb(238,174,202);
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
}
#navba{
    color: white;
    background-color: rgba(128, 0, 128, 0.137); 
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-style: italic;
    
}

.nav-link:hover{

    color: aliceblue !important;
    

}
#magie{
    background-color: transparent !important;
}

.datos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    text-decoration:aliceblue;

}

.float-md-end{
    float: left !important;
    text-align: center;


}

.parrafo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    

}
.col-sm-9{
    width: 95% !important;
}

.col-md-6{
    width: 65% !important;
}

.col-auto{
    align-items: center !important;
}


.texto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    text-decoration:aliceblue;

}